*{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.header-top{
    font-weight: bold;
}
.diag1{
    margin-block: 1.2rem;
}
.header{
    margin-block: 0.5rem;
}
.point-one{
    background-color: aquamarine;
}
.point-two{
    background-color: greenyellow;
}
.diag1 .point-one{
    width: 20rem;
}
.diag1 .point-two{
    width: 27rem;
}
.diag2 .point-one{
    width: 16rem;
}
.diag2 .point-two{
    width: 20rem;
}

.point p::first-letter{
    color: #BA55D3;
    font-size: 170%;
    margin-block: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgba(0, 89, 255, 0.438);
}

a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    transition: all 0.3s ease;
}

a:hover {
    letter-spacing: 2px;
    color: #9b59b6;
}